<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bobomee.android.rxjavaexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.RxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Create.Creating"
            android:label="Basic/Creating">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Transform.Transforming"
            android:label="Basic/Transforming">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Filter.Filtering"
            android:label="Basic/Filtering">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Subject.Subjects"
            android:label="Basic/Transforming">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Subject.SingleObservable"
            android:label="Basic/SingleObservable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Combine.Combining"
            android:label="Basic/Combining">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErrorHandle.ErrorHandling"
            android:label="Basic/ErrorHandling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utility.Utility"
            android:label="Basic/Utility">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Other.Other"
            android:label="Basic/Other">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".custom.CustomOperator"
            android:label="Basic/CustomOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rx_bing.RxBindingEditText"
            android:label="rx_案例/edittext(debounce&amp;switchMap)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rx_bing.RxBindingButtonClick"
            android:label="rx_案例/button(throttleFirst)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rx_bing.SubjectSample"
            android:label="rx_案例/PublishSubject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rxjava_sample.from_fernando_cejas_android10_coder.activity.ActivitySubscriberSample"
            android:label="rx_案例/fernando_cejas_android10_coder_SubscriberSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.bobomee.android.rxjavaexample.CATEGORY" />
            </intent-filter>
        </activity>
    </application>

</manifest>
